@import "variables";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-primary-black;
    color: $color-primary-gold;
    font-family: $font-family-sans;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 16px;
    user-select: none;
    * {
        font-family: $font-family-sans;
        box-sizing: border-box;
    }
}

// 全域的連結樣式
a {
    color: $color-primary-gold;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
        color: $color-text-accent-white;
    }
}
img {
    width: 100%;
}
h2 {
    font-size: Min(5vh, 5vw);
    transform: scaleY(1.2);
    font-weight: 600;
}
h3 {
    font-size: Min(3.2vh, 4.8vw);
    letter-spacing: Min(0.5vh, 0.5vw);
    font-weight: 500;
}
p {
    font-size: Min(2.5vh, 5vw);
}
.main-text {
    font-size: Min(2vh, 3.5vw);
}
.sub-text {
    font-size: Min(1.5vh, 2.5vw);
}
.form-text {
    font-size: Min(2vh, 5vw);
}
.menu {
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    .icon-wrap {
        position: fixed;
        top: Min(3vh, 3vw);
        right: Min(3vh, 3vw);
        width: Min(4vh, 6vw);
        height: Min(3.5vh, 5.5vw);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        z-index: 10;
        &:hover {
            .bar {
                background-color: $color-primary-gold;
                box-shadow:
                    inset 0 1px 0 0.2px rgba($color: $color-primary-gold, $alpha: 0.8),
                    inset 0 2px 0 0 rgba($color: #d08e0a, $alpha: 0.8),
                    inset 2px 0 0 0.2px rgba($color: #ffffb9, $alpha: 0.8),
                    inset -2px 0 0 0.2px rgba($color: #ffffb9, $alpha: 0.8),
                    inset 0 2.5px 0 0.2px rgba($color: #ffffb9, $alpha: 0.8),
                    inset 3px 0 0 0.2px rgba($color: #d08e0a, $alpha: 0.8),
                    inset -3px 0 0 0.2px rgba($color: #d08e0a, $alpha: 0.8),
                    inset 0 -3.5px 0 0.2px rgba($color: #9a6c11, $alpha: 0.5),
                    inset 0 -3px 0 0.2px rgba($color: #d08e0a, $alpha: 0.5);
            }
        }
        .bar {
            width: 100%;
            height: Min(0.7vh, 0.8vw);
            border-radius: 99em;
            transition: all 0.2s;
            background-color: $color-primary-black;
            box-shadow:
                inset 0 1px 0 0.2px rgba($color: $color-primary-black, $alpha: 0.5),
                inset 0 2px 0 0 rgba($color: #2f2f2f, $alpha: 0.5),
                inset 2px 0 0 0.2px rgba($color: #6d6d6d, $alpha: 0.3),
                inset -2px 0 0 0.2px rgba($color: #6d6d6d, $alpha: 0.3),
                inset 0 2.5px 0 0.2px rgba($color: #6d6d6d, $alpha: 0.8),
                inset 3px 0 0 0.2px rgba($color: #2f2f2f, $alpha: 0.5),
                inset -3px 0 0 0.2px rgba($color: #2f2f2f, $alpha: 0.5),
                inset 0 -3.5px 0 0.2px rgba($color: #000, $alpha: 0.3),
                inset 0 -3px 0 0.2px rgba($color: #2f2f2f, $alpha: 0.3);
        }
    }

    .nav-wrap {
        display: none;
        overflow: hidden;
        z-index: 5;
    }
}
.menu.open {
    height: 100dvh;
    .icon-wrap {
        .bar {
            position: absolute;
            background-color: $color-primary-gold;
            box-shadow:
                inset 0 1px 0 0.2px rgba($color: $color-primary-gold, $alpha: 0.8),
                inset 0 2px 0 0 rgba($color: #d08e0a, $alpha: 0.8),
                inset 2px 0 0 0.2px rgba($color: #ffffb9, $alpha: 0.8),
                inset -2px 0 0 0.2px rgba($color: #ffffb9, $alpha: 0.8),
                inset 0 2.5px 0 0.2px rgba($color: #ffffb9, $alpha: 0.8),
                inset 3px 0 0 0.2px rgba($color: #d08e0a, $alpha: 0.8),
                inset -3px 0 0 0.2px rgba($color: #d08e0a, $alpha: 0.8),
                inset 0 -3.5px 0 0.2px rgba($color: #9a6c11, $alpha: 0.5),
                inset 0 -3px 0 0.2px rgba($color: #d08e0a, $alpha: 0.5);
        }
        .bar:nth-of-type(1) {
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
        }
        .bar:nth-of-type(2) {
            opacity: 0;
        }
        .bar:nth-of-type(3) {
            top: 50%;
            transform: translateY(-50%) rotate(-45deg);
        }
    }

    .nav-wrap {
        padding: Min(10vh, 15vw) Min(3vh, 5vw);
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: rgba($color: $color-primary-black, $alpha: 0.9);
        animation: reveal 0.3s ease-in-out;
        .nav-item {
            position: relative;
            padding: Min(1vh, 1vw) 0;
            cursor: pointer;
            transition: all 0.2s;
            animation: slideInRight 0.2s ease-in;
            text-align: center;
            letter-spacing: Min(0.3vh, 0.3vw);
            font-size: Min(2.5vh, 6vw);
            color: #fff;
            &:hover {
                filter: brightness(1.4);
                text-shadow: 0 0 2px $color-primary-gold;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $color-primary-gold;
                    animation: extend 0.2s ease-in;
                }
            }
        }
    }
}
.container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.title {
    flex-grow: 1;
    margin: 0 auto;
    // padding: 0 $page-side-padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: auto;
        // height: 20vh;
        max-width: 100%;
        max-height: fit-content;
        object-fit: contain;
    }
    .slogan {
        width: 100%;
        max-width: 100%;
        font-size: Min(2.5vh, 5vw);
        max-height: 6vh;
        word-break: keep-all;
        word-wrap: break-word;
        white-space: nowrap;
        text-align: justify;
        text-align-last: justify;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(to right, transparent, $color-primary-gold, $color-primary-gold, transparent) 1;
        margin: 0.6em auto 0;
        padding: 0.6vh 0;
    }
}
.main-content {
    transform-origin: 50% 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0 $page-side-padding;
    width: 100%;
    .content-text {
        word-wrap: break-word;
        word-break: keep-all;
    }
}
.form {
    margin: 0 auto;
    padding: Min(2vh,3vw) Min(2vh,5vw) Min(3vh,5vw);
    width: 100%;
    max-width: 50em;
    height: auto;
    // height: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1em;
    border: 1px solid $color-primary-gold;
    background-color: $color-primary-black;
    .form-item {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: Min(2vh, 2vw) 0;
        .form-item-top {
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .form-label {
                max-width: Min(11vw, 5em);
                text-align: right;
                letter-spacing: Min(0.2vw, 0.2em);
            }
            input,
            textarea {
                margin-left: 0.5em;
                padding: 0.5em;
                flex-grow: 1;
                border-radius: 0.5em;
                outline: none;
                border: none;
                background-color: $color-primary-gold;
                color: $color-primary-black;
                resize: none;
                &::placeholder {
                    color: $color-text-placeholder;
                }
            }
        }
        .input-notice {
            width: auto;
            text-align: left;
            color: $color-text-notice;
            font-size: Min(1.6vh, 3vw);
            margin: 0.2vh Min(9.8vw, 4.8em);
            word-wrap: break-word;
            word-break: break-all;
        }
    }
    .change-view-btn-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .change-view-btn {
        justify-self: center;
        cursor: pointer;
        letter-spacing: Min(0.2vw, 0.2em);
        transition: all 0.2s;
        &:hover {
            filter: brightness(1.4);
            text-shadow: 0 0 2px $color-primary-gold;
        }
    }
    .divider-line {
        width: 1px;
        margin: 0 1em;
        height: Min(2vh, 3vw);
        background-color: $color-primary-gold;
    }
    .enter-trigger {
        margin: 3vh auto 0;
    }
}
.bg-wrap {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: -2;
    .bg {
        object-fit: cover;
    }
}
.enter-trigger {
    justify-self: center;
    margin: 5vh auto 0;
    z-index: 2;
    .icon {
        position: relative;
        width: 6vh;
        margin: 0 auto;
        cursor: pointer;
        .default-finger-print {
            position: absolute;
            width: 100%;
            z-index: -1;
            transition: filter 0.3s;
        }
        .animate-finger-print {
            z-index: 2;
        }
        &:hover {
            .default-finger-print {
                filter: brightness(1.2);
            }
        }
    }
    .text {
        max-width: Min(18vh, 30vw);
        margin: 1vh auto 0;
        color: $color-text-accent-gray;
        * {
            letter-spacing: Min(0.4vh, 0.5dvw);
            text-indent: Min(0.4vh, 1vw);
        }
        .main-text {
            text-align: justify;
            text-align-last: justify;
            max-height: Min(3.5vh, 5.5vw);
        }
        .sub-text {
            max-height: Min(2.5vh, 4.5vw);
            text-align: justify;
            text-align-last: justify;
        }
    }
}
.record-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: Min(1vh, 1vw) auto;
    width: 100%;
    height: auto;
    max-width: Min(80vw, 30em);
    position: relative;
    .record {
        position: absolute;
    }
    .record-main {
        width: 80%;
        max-width: fit-content;
        max-height: fit-content;
        z-index: -1;
        animation: spin 5s linear infinite;
    }
    .record-effect {
        animation: flash 3s ease-in-out infinite;
    }
    .icon {
        width: 10%;
        height: auto;
        color: #000;
        fill: $color-primary-black;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            fill: $color-icon-hover;
            filter: drop-shadow(0 0 5px #ffffcc);
        }
        * {
            animation-play-state: running;
        }
        .icon-play {
            transform: translateX(10%);
        }
    }
}
.record-wrap.pause {
    * {
        animation-play-state: paused;
    }
}
.result-card {
    display: grid;
    margin: Min(1vh, 1vw);
    padding: 0.5em 1em;
    width: auto;
    height: auto;
    background-image: $color-card-gradient;
    border-radius: calc(0.5em - #{$card-border-width} / 2);
    border: 1px solid $color-primary-black;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: calc(-#{$card-border-width} / 2);
        left: calc(-#{$card-border-width} / 2);
        width: calc(100% + #{$card-border-width});
        height: calc(100% + #{$card-border-width});
        z-index: -1;
        background-image: $color-card-border-gradient;
        border-radius: 0.5em;
    }
    .result-text {
        padding: Min(0.5vh, 0.5vw) 0;
        color: $color-primary-black;
        letter-spacing: normal;
        font-family: $font-family-serif;
        font-weight: 600;
        transform: scaleY(1.1);
        line-clamp: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .memory-number {
        border-bottom: 1px solid $color-primary-black;
    }
}
