// 顏色色票 (Color Palette)
$color-primary-gold: #c5a059; // 主要文字色、邊框顏色、表格背景色
$color-primary-black: #0a0a0a; // 網站的主背景色、表格文字色、表格主要背景色
$color-text-accent-gray: #4d4d4d; // 輔助文字色
$color-text-accent-white: #fff; // 輔助文字色
$color-text-placeholder: #2f2f2f; // 輸入提示文字色
$color-text-notice: #b22525; // 輸入錯誤提示文字色
$color-border-hover: #f2d391; // 邊框hover色
$color-card-gradient: linear-gradient(45deg, #8c6b3b 10%, #f2d391, #8c6b3b 90%); // 卡片漸層色
$color-card-border-gradient: linear-gradient(#8c6b3b, #f2d391); // 卡片邊框漸層色
$color-btn-gradient: linear-gradient(45deg, #0a0a0a 10%, #2f2f2f, #0a0a0a 90%); // 按鈕漸層色
$color-btn-shadow: #463213; //按鈕厚度色
$color-icon-hover: #8c6b3b; // icon hover色

// 字體設定 (Typography)
@font-face {
    font-family: "Noto Serif TC"; /* 你自己取的字體名稱 */
    src: url("./assets/fonts/NotoSerifTC-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* 關鍵：確保字體還沒載入時先顯示預設字體，避免白屏 */
}
$font-family-serif:
    "Noto Serif TC", "Times New Roman", Times, serif; // 襯線體，適用於標題、Slogan（需依專案引入的字體修改）
$font-family-sans: "Noto Sans CJK TC", "Arial", sans-serif; // 無襯線體，適用於表單、內文

// 響應式斷點 (Breakpoints)
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;

// 間距設定
$page-side-padding: 2em;
$card-border-width: 0.5em;
