@charset "UTF-8";
@font-face {
  font-family: "Kintusgi";
  /* 你自己取的字體名稱 */
  src: url("../assets/fonts/NotoSerifTC-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  /* 關鍵：確保字體還沒載入時先顯示預設字體，避免白屏 */
}

@font-face {
  font-family: "Kintusgi";
  src: url("../assets/fonts/NotoSerifTC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kintusgi";
  /* 你自己取的字體名稱 */
  src: url("../assets/fonts/NotoSerifTC-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  /* 關鍵：確保字體還沒載入時先顯示預設字體，避免白屏 */
}

@font-face {
  font-family: "Kintusgi";
  src: url("../assets/fonts/NotoSerifTC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kintusgi";
  /* 你自己取的字體名稱 */
  src: url("../assets/fonts/NotoSerifTC-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  /* 關鍵：確保字體還沒載入時先顯示預設字體，避免白屏 */
}

@font-face {
  font-family: "Kintusgi";
  src: url("../assets/fonts/NotoSerifTC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0a0a;
  color: #c5a059;
  font-family: "Noto Sans CJK TC", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body * {
  font-family: "Noto Sans CJK TC", "Arial", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #c5a059;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

a:hover {
  color: #fff;
}

img {
  width: 100%;
}

h2 {
  font-size: Min(5vh, 5vw);
  -webkit-transform: scaleY(1.2);
          transform: scaleY(1.2);
  font-weight: 600;
}

h3 {
  font-size: Min(3.2vh, 4.8vw);
  letter-spacing: Min(0.5vh, 0.5vw);
  font-weight: 500;
}

p {
  font-size: Min(2.5vh, 5vw);
}

.main-text {
  font-size: Min(2vh, 3.5vw);
}

.sub-text {
  font-size: Min(1.5vh, 2.5vw);
}

.form-text {
  font-size: Min(2vh, 5vw);
}

.menu {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
}

.menu .icon-wrap {
  position: fixed;
  top: Min(3vh, 3vw);
  right: Min(3vh, 3vw);
  width: Min(4vh, 6vw);
  height: Min(3.5vh, 5.5vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 10;
}

.menu .icon-wrap:hover .bar {
  background-color: #c5a059;
  -webkit-box-shadow: inset 0 1px 0 0.2px rgba(197, 160, 89, 0.8), inset 0 2px 0 0 rgba(208, 142, 10, 0.8), inset 2px 0 0 0.2px rgba(255, 255, 185, 0.8), inset -2px 0 0 0.2px rgba(255, 255, 185, 0.8), inset 0 2.5px 0 0.2px rgba(255, 255, 185, 0.8), inset 3px 0 0 0.2px rgba(208, 142, 10, 0.8), inset -3px 0 0 0.2px rgba(208, 142, 10, 0.8), inset 0 -3.5px 0 0.2px rgba(154, 108, 17, 0.5), inset 0 -3px 0 0.2px rgba(208, 142, 10, 0.5);
          box-shadow: inset 0 1px 0 0.2px rgba(197, 160, 89, 0.8), inset 0 2px 0 0 rgba(208, 142, 10, 0.8), inset 2px 0 0 0.2px rgba(255, 255, 185, 0.8), inset -2px 0 0 0.2px rgba(255, 255, 185, 0.8), inset 0 2.5px 0 0.2px rgba(255, 255, 185, 0.8), inset 3px 0 0 0.2px rgba(208, 142, 10, 0.8), inset -3px 0 0 0.2px rgba(208, 142, 10, 0.8), inset 0 -3.5px 0 0.2px rgba(154, 108, 17, 0.5), inset 0 -3px 0 0.2px rgba(208, 142, 10, 0.5);
}

.menu .icon-wrap .bar {
  width: 100%;
  height: Min(0.7vh, 0.8vw);
  border-radius: 99em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #0a0a0a;
  -webkit-box-shadow: inset 0 1px 0 0.2px rgba(10, 10, 10, 0.5), inset 0 2px 0 0 rgba(47, 47, 47, 0.5), inset 2px 0 0 0.2px rgba(109, 109, 109, 0.3), inset -2px 0 0 0.2px rgba(109, 109, 109, 0.3), inset 0 2.5px 0 0.2px rgba(109, 109, 109, 0.8), inset 3px 0 0 0.2px rgba(47, 47, 47, 0.5), inset -3px 0 0 0.2px rgba(47, 47, 47, 0.5), inset 0 -3.5px 0 0.2px rgba(0, 0, 0, 0.3), inset 0 -3px 0 0.2px rgba(47, 47, 47, 0.3);
          box-shadow: inset 0 1px 0 0.2px rgba(10, 10, 10, 0.5), inset 0 2px 0 0 rgba(47, 47, 47, 0.5), inset 2px 0 0 0.2px rgba(109, 109, 109, 0.3), inset -2px 0 0 0.2px rgba(109, 109, 109, 0.3), inset 0 2.5px 0 0.2px rgba(109, 109, 109, 0.8), inset 3px 0 0 0.2px rgba(47, 47, 47, 0.5), inset -3px 0 0 0.2px rgba(47, 47, 47, 0.5), inset 0 -3.5px 0 0.2px rgba(0, 0, 0, 0.3), inset 0 -3px 0 0.2px rgba(47, 47, 47, 0.3);
}

.menu .nav-wrap {
  display: none;
  overflow: hidden;
  z-index: 5;
}

.menu.open {
  height: 100dvh;
}

.menu.open .icon-wrap .bar {
  position: absolute;
  background-color: #c5a059;
  -webkit-box-shadow: inset 0 1px 0 0.2px rgba(197, 160, 89, 0.8), inset 0 2px 0 0 rgba(208, 142, 10, 0.8), inset 2px 0 0 0.2px rgba(255, 255, 185, 0.8), inset -2px 0 0 0.2px rgba(255, 255, 185, 0.8), inset 0 2.5px 0 0.2px rgba(255, 255, 185, 0.8), inset 3px 0 0 0.2px rgba(208, 142, 10, 0.8), inset -3px 0 0 0.2px rgba(208, 142, 10, 0.8), inset 0 -3.5px 0 0.2px rgba(154, 108, 17, 0.5), inset 0 -3px 0 0.2px rgba(208, 142, 10, 0.5);
          box-shadow: inset 0 1px 0 0.2px rgba(197, 160, 89, 0.8), inset 0 2px 0 0 rgba(208, 142, 10, 0.8), inset 2px 0 0 0.2px rgba(255, 255, 185, 0.8), inset -2px 0 0 0.2px rgba(255, 255, 185, 0.8), inset 0 2.5px 0 0.2px rgba(255, 255, 185, 0.8), inset 3px 0 0 0.2px rgba(208, 142, 10, 0.8), inset -3px 0 0 0.2px rgba(208, 142, 10, 0.8), inset 0 -3.5px 0 0.2px rgba(154, 108, 17, 0.5), inset 0 -3px 0 0.2px rgba(208, 142, 10, 0.5);
}

.menu.open .icon-wrap .bar:nth-of-type(1) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.menu.open .icon-wrap .bar:nth-of-type(2) {
  opacity: 0;
}

.menu.open .icon-wrap .bar:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.menu.open .nav-wrap {
  padding: Min(10vh, 15vw) Min(3vh, 5vw);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(10, 10, 10, 0.9);
  -webkit-animation: reveal 0.3s ease-in-out;
          animation: reveal 0.3s ease-in-out;
}

.menu.open .nav-wrap .nav-item {
  position: relative;
  padding: Min(1vh, 1vw) 0;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: slideInRight 0.2s ease-in;
          animation: slideInRight 0.2s ease-in;
  text-align: center;
  letter-spacing: Min(0.3vh, 0.3vw);
  font-size: Min(2.5vh, 6vw);
  color: #fff;
}

.menu.open .nav-wrap .nav-item:hover {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
  text-shadow: 0 0 2px #c5a059;
}

.menu.open .nav-wrap .nav-item:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #c5a059;
  -webkit-animation: extend 0.2s ease-in;
          animation: extend 0.2s ease-in;
}

.container {
  width: 100dvw;
  height: 100dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title img {
  width: auto;
  max-width: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  -o-object-fit: contain;
     object-fit: contain;
}

.title .slogan {
  width: 100%;
  max-width: 100%;
  font-size: Min(2.5vh, 5vw);
  max-height: 6vh;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: nowrap;
  text-align: justify;
  text-align-last: justify;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -o-border-image: linear-gradient(to right, transparent, #c5a059, #c5a059, transparent) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#c5a059), color-stop(#c5a059), to(transparent)) 1;
     border-image: linear-gradient(to right, transparent, #c5a059, #c5a059, transparent) 1;
  margin: 0.6em auto 0;
  padding: 0.6vh 0;
}

.main-content {
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
  padding: 0 2em;
  width: 100%;
}

.main-content .content-text {
  word-wrap: break-word;
  word-break: keep-all;
}

.form {
  margin: 0 auto;
  padding: Min(2vh, 3vw) Min(2vh, 5vw) Min(3vh, 5vw);
  width: 100%;
  max-width: 50em;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 1em;
  border: 1px solid #c5a059;
  background-color: #0a0a0a;
}

.form .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: Min(2vh, 2vw) 0;
}

.form .form-item .form-item-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form .form-item .form-item-top .form-label {
  max-width: Min(11vw, 5em);
  text-align: right;
  letter-spacing: Min(0.2vw, 0.2em);
}

.form .form-item .form-item-top input,
.form .form-item .form-item-top textarea {
  margin-left: 0.5em;
  padding: 0.5em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 0.5em;
  outline: none;
  border: none;
  background-color: #c5a059;
  color: #0a0a0a;
  resize: none;
}

.form .form-item .form-item-top input::-webkit-input-placeholder,
.form .form-item .form-item-top textarea::-webkit-input-placeholder {
  color: #2f2f2f;
}

.form .form-item .form-item-top input:-ms-input-placeholder,
.form .form-item .form-item-top textarea:-ms-input-placeholder {
  color: #2f2f2f;
}

.form .form-item .form-item-top input::-ms-input-placeholder,
.form .form-item .form-item-top textarea::-ms-input-placeholder {
  color: #2f2f2f;
}

.form .form-item .form-item-top input::placeholder,
.form .form-item .form-item-top textarea::placeholder {
  color: #2f2f2f;
}

.form .form-item .input-notice {
  width: auto;
  text-align: left;
  color: #b22525;
  font-size: Min(1.6vh, 3vw);
  margin: 0.2vh Min(9.8vw, 4.8em);
  word-wrap: break-word;
  word-break: break-all;
}

.form .change-view-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .change-view-btn {
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
  letter-spacing: Min(0.2vw, 0.2em);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form .change-view-btn:hover {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
  text-shadow: 0 0 2px #c5a059;
}

.form .divider-line {
  width: 1px;
  margin: 0 1em;
  height: Min(2vh, 3vw);
  background-color: #c5a059;
}

.form .enter-trigger {
  margin: 3vh auto 0;
}

.bg-wrap {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  z-index: -2;
}

.bg-wrap .bg {
  -o-object-fit: cover;
     object-fit: cover;
}

.enter-trigger {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 5vh auto 0;
  z-index: 2;
}

.enter-trigger .icon {
  position: relative;
  width: 6vh;
  margin: 0 auto;
  cursor: pointer;
}

.enter-trigger .icon .default-finger-print {
  position: absolute;
  width: 100%;
  z-index: -1;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.enter-trigger .icon .animate-finger-print {
  z-index: 2;
}

.enter-trigger .icon:hover .default-finger-print {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.enter-trigger .text {
  max-width: Min(18vh, 30vw);
  margin: 1vh auto 0;
  color: #4d4d4d;
}

.enter-trigger .text * {
  letter-spacing: Min(0.4vh, 0.5dvw);
  text-indent: Min(0.4vh, 1vw);
}

.enter-trigger .text .main-text {
  text-align: justify;
  text-align-last: justify;
  max-height: Min(3.5vh, 5.5vw);
}

.enter-trigger .text .sub-text {
  max-height: Min(2.5vh, 4.5vw);
  text-align: justify;
  text-align-last: justify;
}

.record-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: Min(1vh, 1vw) auto;
  width: 100%;
  height: auto;
  max-width: Min(80vw, 30em);
  position: relative;
}

.record-wrap .record {
  position: absolute;
}

.record-wrap .record-main {
  width: 80%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  z-index: -1;
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
}

.record-wrap .record-effect {
  -webkit-animation: flash 3s ease-in-out infinite;
          animation: flash 3s ease-in-out infinite;
}

.record-wrap .icon {
  width: 10%;
  height: auto;
  color: #000;
  fill: #0a0a0a;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.record-wrap .icon:hover {
  fill: #8c6b3b;
  -webkit-filter: drop-shadow(0 0 5px #ffffcc);
          filter: drop-shadow(0 0 5px #ffffcc);
}

.record-wrap .icon * {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.record-wrap .icon .icon-play {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.record-wrap.pause * {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.result-card {
  display: -ms-grid;
  display: grid;
  margin: Min(1vh, 1vw);
  padding: 0.5em 1em;
  width: auto;
  height: auto;
  background-image: linear-gradient(45deg, #8c6b3b 10%, #f2d391, #8c6b3b 90%);
  border-radius: calc(0.5em - 0.5em / 2);
  border: 1px solid #0a0a0a;
  position: relative;
}

.result-card::before {
  content: "";
  position: absolute;
  top: calc(-0.5em / 2);
  left: calc(-0.5em / 2);
  width: calc(100% + 0.5em);
  height: calc(100% + 0.5em);
  z-index: -1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8c6b3b), to(#f2d391));
  background-image: linear-gradient(#8c6b3b, #f2d391);
  border-radius: 0.5em;
}

.result-card .result-text {
  padding: Min(0.5vh, 0.5vw) 0;
  color: #0a0a0a;
  letter-spacing: normal;
  font-family: "Kintusgi", "Noto Serif TC", "Times New Roman", Times, serif;
  font-weight: 600;
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
  line-clamp: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.result-card .memory-number {
  border-bottom: 1px solid #0a0a0a;
}

@font-face {
  font-family: "Kintusgi";
  /* 你自己取的字體名稱 */
  src: url("../assets/fonts/NotoSerifTC-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  /* 關鍵：確保字體還沒載入時先顯示預設字體，避免白屏 */
}

@font-face {
  font-family: "Kintusgi";
  src: url("../assets/fonts/NotoSerifTC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@-webkit-keyframes jumping {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jumping {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@-webkit-keyframes television {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-filter: brightness(1.5);
            filter: brightness(1.5);
  }
}

@keyframes television {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-filter: brightness(1.5);
            filter: brightness(1.5);
  }
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes extend {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes extend {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.text-gold {
  color: #c5a059;
}

.text-black {
  color: #0a0a0a;
}

h1,
h2 {
  font-family: "Kintusgi", "Noto Serif TC", "Times New Roman", Times, serif;
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
  letter-spacing: 0.2em;
}

.container:not(.landing-container) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: Min(3vh, 8vw) 0;
  min-height: 100dvh;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container:not(.landing-container) .title {
  max-width: Min(70vh, 70vw);
  max-height: 20vh;
}

.container:not(.landing-container) .title .slogan {
  width: 100%;
}

.landing-container {
  overflow: hidden;
}

.landing-container .title {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  padding-bottom: 25vh;
}

.landing-container .title .slogan {
  font-size: Min(3vh, 3.5vw);
  letter-spacing: Min(1.2vh, 0.5vw);
}

.landing-container .main-content {
  height: 32dvh;
  padding-bottom: 8vh;
}

.landing-container .main-content h2 {
  text-align: center;
  margin: 0 auto;
  max-width: 90vh;
  text-indent: 1vh;
  width: 100%;
  text-align-last: justify;
}

.landing-container .bg-video {
  -o-object-fit: fill;
     object-fit: fill;
  width: auto;
  height: Min(75vh, 130vw);
}

.gate-container .main-content {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gate-container .main-content .content-text {
  line-height: Min(8vh, 8vw);
  letter-spacing: Min(0.6vh, 0.5vw);
  color: #fff;
}

.gate-container .register-form .sub-text {
  text-overflow: hidden;
  white-space: nowrap;
}

.ceremony-container .title {
  margin: Min(5vh, 5vw) auto 0;
}

.ceremony-container .main-content {
  margin-top: Min(3vh, 3vw);
}

.ceremony-container .main-content .form-item-top .form-label {
  max-width: 100%;
}

.ceremony-container .main-content .form-item-top input,
.ceremony-container .main-content .form-item-top textarea {
  width: 100%;
  margin: Min(2vh, 2vw) 0 0;
  padding: 1em;
}

.ceremony-container .main-content .input-notice {
  padding: 0;
}

.ceremony-container .main-content .change-view-btn:not(.active) {
  color: #4d4d4d;
}

.ceremony-container .main-content .change-view-btn:not(.active):hover {
  color: #c5a059;
}

.ceremony-container .main-content .memory-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.ceremony-container .main-content .memory-content textarea {
  min-height: 10vh;
  overflow-y: hidden;
}

.ceremony-container .main-content .memory-content .input-hidden {
  display: none;
}

.ceremony-container .main-content .memory-content .upload-memory-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 10vh;
  padding: Min(1.5vh, 1.5vw) 0.5em;
  margin: Min(2vh, 2vw) 0 0;
  border-radius: 0.5em;
  background-color: #c5a059;
  color: #2f2f2f;
  border: 2px solid transparent;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
  cursor: pointer;
}

.ceremony-container .main-content .memory-content .upload-memory-img:hover {
  border: 2px dashed #f2d391;
}

.ceremony-container .main-content .memory-content .upload-memory-img:hover .upload-default-text-wrap .upload-icon {
  -webkit-animation: jumping 1s ease-in infinite;
          animation: jumping 1s ease-in infinite;
}

.ceremony-container .main-content .memory-content .upload-memory-img .upload-default-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ceremony-container .main-content .memory-content .upload-memory-img .upload-default-text-wrap .upload-icon {
  width: Min(5vh, 5vw);
}

.ceremony-container .main-content .memory-content .upload-memory-img .upload-default-text-wrap .upload-icon svg {
  width: 100%;
  height: auto;
  fill: #2f2f2f;
}

.ceremony-container .main-content .dragging .upload-memory-img {
  border: 2px dashed #f2d391;
}

.ceremony-container .main-content .dragging .upload-icon {
  -webkit-animation: jumping 1s ease-in-out infinite;
          animation: jumping 1s ease-in-out infinite;
}

.ceremony-container .process-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ceremony-container .process-content .process-status-text {
  font-size: Min(2.5vh, 2.5vw);
  letter-spacing: Min(0.2vw, 0.2em);
  margin: Min(2.5vh, 2.5vw) 0;
}

.ceremony-container .process-content .animate-wrap {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  overflow: hidden;
}

.ceremony-container .process-content .animate-wrap img {
  -webkit-animation: television 0.8s ease-in-out;
          animation: television 0.8s ease-in-out;
}

.ceremony-container .result-content {
  max-width: Min(70vw, 30em);
  min-height: 70vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ceremony-container .result-content .btn-wrap {
  margin-top: Min(1vh, 1vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ceremony-container .result-content .btn-wrap .change-view-btn {
  -ms-grid-column-align: center;
      justify-self: center;
  color: #c5a059;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.ceremony-container .result-content .btn-wrap .change-view-btn:hover {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
  text-shadow: 0 0 2px #c5a059;
}

.ceremony-container .result-content .btn-wrap .btn-text {
  font-size: Min(2.2vh, 5vw);
}

.ceremony-container .result-content .btn-wrap .divider-line {
  width: 1px;
  margin: 0 1em;
  height: Min(2vh, 3vw);
  background-color: #c5a059;
}

.ceremony-container .bg-wrap {
  position: fixed;
}

.collection-container .nodata-content {
  margin: 0 auto;
  max-width: Min(70vw, 70em);
}

.collection-container .nodata-content .record-img {
  width: 100%;
  max-width: Min(70vw, 30vh);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: spin 5s ease-in-out infinite;
          animation: spin 5s ease-in-out infinite;
}

.collection-container .nodata-content .record-img svg {
  fill: none;
  stroke: #c5a059;
  stroke-width: 3px;
}

.collection-container .nodata-content .notice {
  margin-top: Min(5vh, 5vw);
  letter-spacing: 0.2em;
}

.collection-container .main-content {
  margin: 0;
  padding: 0;
}

.collection-container .collections-content .search {
  margin: Min(3vh, 3vw) auto;
  width: 100%;
  max-width: Min(70vw, 30em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c5a059;
  padding: 0 Min(1.2vh, 3vw);
  border-radius: 0.5em;
}

.collection-container .collections-content .search input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: transparent;
  outline: none;
  border: none;
  margin-right: Min(1.2vh, 1.2vw);
  padding: Min(1vh, 3vw) 0;
  font-size: Min(2vh, 5vw);
  line-height: Min(2vh, 5vw);
}

.collection-container .collections-content .search input::-webkit-input-placeholder {
  color: #2f2f2f;
}

.collection-container .collections-content .search input:-ms-input-placeholder {
  color: #2f2f2f;
}

.collection-container .collections-content .search input::-ms-input-placeholder {
  color: #2f2f2f;
}

.collection-container .collections-content .search input::placeholder {
  color: #2f2f2f;
}

.collection-container .collections-content .search .search-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: Min(2vh, 2vh);
}

.collection-container .collections-content .collections-wrap {
  max-width: Min(70vw, 100dvh);
  margin: 0 auto;
}

.collection-container .collections-content .collections-wrap .swiper-wrapper {
  width: 100%;
}

.collection-container .collections-content .collections-wrap .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50em !important;
  max-width: calc(100% / 3) !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.collection-container .collections-content .collections-wrap .swiper-wrapper .swiper-slide * {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@media screen and (max-width: 767px) {
  .collection-container .collections-content .collections-wrap .swiper-wrapper .swiper-slide {
    max-width: 100% !important;
  }
}

.collection-container .collections-content .collections-wrap .swiper-wrapper .swiper-slide:not(.swiper-slide-active) {
  opacity: 0.5;
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.collection-container .collections-content .collections-wrap .swiper-wrapper .swiper-slide:not(.swiper-slide-active) * {
  -webkit-animation: none;
          animation: none;
}

.collection-container .collections-content .collections-wrap .swiper-wrapper .swiper-slide.pause * {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.collection-container .collections-content .collections-wrap .swiper-wrapper .swiper-slide .main-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.collection-container .collections-content .collections-wrap .swiper-button-prev,
.collection-container .collections-content .collections-wrap .swiper-button-next {
  width: Min(3vw, 3vh);
  height: Min(3vw, 3vh);
  color: #c5a059;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

.collection-container .collections-content .collections-wrap .swiper-button-prev:hover,
.collection-container .collections-content .collections-wrap .swiper-button-next:hover {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
}

.collection-container .collections-content .collections-wrap .control-btns-wrap {
  width: 100%;
  margin: Min(3vh, 3vw) 0;
  max-width: Min(70vw, 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collection-container .collections-content .collections-wrap .control-btns-wrap svg {
  fill: #c5a059;
}

.collection-container .collections-content .collections-wrap .control-btns-wrap .control-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 Min(1.5vh, 3vw);
  width: Min(3vh, 5vw);
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

.collection-container .collections-content .collections-wrap .control-btns-wrap .control-btn:hover {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
}

.collection-container .collections-content .collections-wrap .control-btns-wrap .play-btn {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: Min(3vh, 5vw);
  height: Min(3vh, 5vw);
  padding: Min(1.5vh, 3vw);
  border-radius: 99em;
  border: 1px solid #c5a059;
  -webkit-box-shadow: 0 5px 0 #463213;
          box-shadow: 0 5px 0 #463213;
  background: linear-gradient(45deg, #0a0a0a 10%, #2f2f2f, #0a0a0a 90%);
}

.collection-container .collections-content .collections-wrap .control-btns-wrap .play-btn svg {
  margin-left: Min(0.3vh, 0.3vw);
}

.collection-container .collections-content .collections-wrap .control-btns-wrap .prev-btn {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.about-container .about-content {
  padding: 0;
  text-align-last: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container .about-content .photo {
  width: 100%;
  max-width: Min(70vw, 35vh);
}

.about-container .about-content .words {
  width: 100%;
  max-width: Min(70vw, 50vh);
}

.about-container .about-content .secret-mail .mail {
  font-size: Min(2vh, 3vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: reveal 0.5s ease-in-out;
          animation: reveal 0.5s ease-in-out;
}

.about-container .about-content .secret-mail .hide-mail {
  display: block;
}

.about-container .about-content .secret-mail .reveal-mail {
  display: none;
}

.about-container .about-content .secret-mail:hover .hide-mail {
  display: none;
}

.about-container .about-content .secret-mail:hover .reveal-mail {
  display: block;
}

.enter-trigger.active .icon {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
/*# sourceMappingURL=main.css.map */